# UE5 Build
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/




# Visual Studio
.vs/
*.sln
*.suo

# Rider
.idea/

# OS
.DS_Store
Thumbs.db
Content/Road_Creator_Pro/Demo/Road_Creator_Pro_Overview.umap
